name: Build APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      ANDROID_HOME: ${{ github.workspace }}/androidsdk
      PATH: ${{ github.workspace }}/androidsdk/cmdline-tools/latest/bin:$PATH

    steps:
      # 1. Установка Git (для корректной работы submodules)
      - name: Install Git
        run: |
          sudo apt-get update
          sudo apt-get install -y git
          git --version

      # 2. Проверяем, что Java установлена
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # 3. Checkout с подмодулями
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          persist-credentials: true
          clean: true

      # 4. Устанавливаем Android SDK
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 33
          build-tools: 33.0.2

      # 5. Собираем Release APK
      - name: Build Release APK
        run: ./gradlew clean assembleRelease --no-daemon --stacktrace